<header>
  <div class="row">
    <h1>Health Education and Promotion</h1>
  </div>
</header>

<div class="row">
  <p>This section provides an overview of my coursework in Health Education and Promotion.  It is intended to evidence my competencies in the following areas:</p>
</div>

<div class="row">
  <div class="large-10 large-offset-1 columns">	
	<ol>
	  <li>The meaning of health and health promotion</li>
	  <li>The role of the health educator/health promotion specialist</li>
	  <li>History of health education and health promotion</li>
	  <li>Governmental initiatives for health education and health promotion</li>
	  <li>Human development</li>
	  <li>Learning, behavior, and behavior change</li>
	  <li>Health promotion and disease prevention</li>
	  <li>Settings for health education and health promotion</li>
	  <li>Comprehensive school health education</li>
	  <li>Competencies and skills of the health educator</li>
	  <li>Assessing individual and community needs</li>
	  <li>Planning effective health education programs</li>
	  <li>Implementing health education programs</li>
	  <li>Evaluating effectiveness of health education programs</li>
	  <li>Coordinating health education services</li>
	  <li>Acting as a resource person in health education</li>
	  <li>Communicating health and health need, concerns, and resources</li>
	  <li>Ethics in Health Education and Promotion</li>
	  <li>Current and future issues in Health Education and Health Promotion</li>
	</ol>
  </div>
</div>

<div class="row">
  <table>
  	<thead>
  	  <tr>
  	    <td>Course Name</td>
  	    <td>Course Number</td>
  	    <td>Grade</td>
  	  </tr>
  	</thead>
  	<tbody>
  	  <tr>
  	  	<td><strong>Advanced Nutrition</strong></td>
  	  	<td>HHP5750</td>
  	  	<td>B</td>
  	  </tr>
  	  <tr>
  	  	<td>This APSU course introduced advanced topics in nutrition, including contemporary perspectives in nutritional and behavioral sciences and their impact on nutrition policy.  The course was assessed through weekly assignments and discussion, as well as a summative project.</td>
  	  </tr>
  	  <tr>
  	  	<td><strong>Stress Management</strong></td>
  	  	<td>HHP5410</td>
  	  	<td>C</td>
  	  </tr>
  	  <tr>
  	  	<td>This APSU course examined stress manifestations, common stressors, and stress intervention techniques such as meditation, biofeedback, progressive relaxation, and yoga.  This course was assessed weekly and concluded with a comprehensive final exam.</td>
  	  </tr>
  	  <tr>
  	  	<td><strong>Health Behaviors: Drugs & Sex</strong></td>
  	  	<td>ESCP7185</td>
  	  	<td>A</td>
  	  </tr>
  	  <tr>
  	  	<td>This course examined contemporary perspectives of behavioral issues in drug use and sexuality.  Neurology and pharmacology, drug policy and classifications, human pairing behaviors, sexual sociology, and many other current issues were examined.  The course was assessed with participation, written assignments, and presentations.</td>
  	  </tr>
  	  <tr>
  	  	<td><strong>Health Promotion</strong></td>
  	  	<td>ESCP8185</td>
  	  	<td>B</td>
  	  </tr>
  	  <tr>
  	  	<td>This course examined classical theories and contemporary perspectives in health education and promotion.  The course covered health problems and their epidemiology, behavior change, and program design and evaluation.  Specific emphases included healthcare and comprehensive health promotion programs and theories such as behavior change theory and the transtheoretical model.  The course was assessed via participation, presentation, and written exams. </td>
  	  </tr>
  	  <tr>
  	  	<td><strong>Seminar in Curriculum Improvement</strong></td>
  	  	<td>EDUC6500</td>
  	  	<td>C</td>
  	  </tr>
  	  <tr>
  	  	<td>This APSU seminar course emphasized improving general curricular practices in education with a program reform approach, particularly the application of objective development, assessment, and analysis.  Assessment was based on discussion, weekly assignments, and a summative research paper.</td>
  	  </tr>
  	  <tr>
  	  	<td><strong>Seminar in Sociocultural Foundations of Educ.</strong></td>
  	  	<td>EDUC6400</td>
  	  	<td>A</td>
  	  </tr>
  	  <tr>
  	  	<td>This APSU course explored the role of culture and diversity in academic settings from a sociological and anthropological perspective.  It examined the sensitive treatment of students with different racial, ethnic, and cultural backgrounds.  Assessment consisted of weekly assignments and two research papers.</td>
  	  </tr>
  	  <tr>
  	  	<td><strong>Education Computer Applications</strong></td>
  	  	<td>EDUC5611</td>
  	  	<td>A</td>
  	  </tr>
  	  <tr>
  	  	<td>This APSU course introduced modern applications of technology in education today, including the development of educational tools, allocation of resources, and classroom management software and assessment applications.  The course was assessed through weekly application assignments as well as a school board project implementation proposal.</td>
  	  </tr>
  	  <tr>
  	  	<td><strong>The Reflective Practitioner</strong></td>
  	  	<td>EDUC5150</td>
  	  	<td>A</td>
  	  </tr>
  	  <tr>
  	  	<td>This APSU capstone seminar course examined the role of reflection and results-oriented practices in education.  A process-oriented approach to educational practices and self-improvement was applied.  Assessment included reflective papers and a video analysis of teaching.</td>
  	  </tr>
  	  <tr>
  	  	<td><strong>Teaching and Learning</strong></td>
  	  	<td>EDUC5550</td>
  	  	<td>B</td>
  	  </tr>
  	  <tr>
  	  	<td>This APSU educational psychology course examined the fundamental developmental relationship between teacher and student agency, learning environment, human development, and major educational theories and ideas.  This course was assessed by weekly assignments and a summative theory paper.</td>
  	  </tr>
  	  <tr>
  	  	<td><strong>Advanced Studies in Special Education</strong></td>
  	  	<td>SPED6550</td>
  	  	<td>A</td>
  	  </tr>
  	  <tr>
  	  	<td>This APSU course examined issues in special education, including historical and contemporary ethical issues, issues related to the assessment of disability status, and the developmental needs and challenges for people with disabilities.  Assessment included weekly assignment and a summative research paper.</td>
  	  </tr>
  	</tbody>
  </table>	
</div>