<%= render 'layouts/backstretch' %>
<div id="home">
  <div class="row">
    <div class="large-12 home-box">
	  <h1 class="opaque-text">Hi, I’m Jeremy, and I’m on a mission to make wellness fun and easy.</h1>
		<p id="p-one">Are you here with a question about <strong>Health</strong> and <strong>Wellness</strong>?</p>
		<p id="p-two">To learn about <strong>Game Design</strong> and <strong>Motivation</strong>?  Or general <strong>Education?</strong></p>
	  <h3>How can I improve your life today?</h3>
	</div>
</div>
</div>