<header>
  <div class="row">
    <h1>Professional Service and Participation</h1>
  </div>
</header>

<div class="row">
  <div class="large-9 push-3 columns">
	<div class="row">
	  <p>This section includes professional development experiences such as:</p>
	</div>
	  
	  <div class="row">
	    <div class="large-10 large-offset-1 columns">
		  <ul>
		  	<li>Membership in professional organizations</li>
		  	<li>Service in graduate student or other professional organizations</li>
		  	<li>Service to professional conferences</li>
		  	<li>Service to the community</li>
		  	<li>Professional newsletter or materials I have helped develop</li>
		  	<li>Membership on a departmental, college, university, or professional committee</li>
		  	<li>Service in a professional, elected, or appointed office</li>
		  	<li>Attendance at professional colloquia and seminars</li>
		  	<li>Attendance at professional meetings</li>
		  	<li>Observations of colleagues in innovative or exemplary programs</li>
		  	<li>Participation in study groups or professional networks</li>
		  </ul>
	    </div>
	  </div>

	  <div class="row">
	  	<p>Many of my teaching and professional service experiences overlap.  In this last year, I have invested an extensive amount of time developing a health promotion tool for special populations.</p>

	  	<h4>Creactive Games</h4>

	  	<p>Creactivity is a term that I coined to conceptualize the development of creative physical activities.  It teaches the individual how to use their own imagination and creativity to develop entirely new games and activities with consideration for available resources, facilities, players, and interests.  I teach both professionals and students how to do this through application of game design principles and game psychology.  Below are synopses of a few physically active games that I’ve personally developed.  Most of the games below emphasize fun, physically active play—however, I also develop games to support academic learning (math, language, science, etc.) in both classroom and physical education settings.  Some excellent examples of games that were created by my former students can also be seen in the Wonderfully Big Book of Lessons and Activities, located in the print copy of my portfolio under the Teaching section.</p>

	  	<p><strong>Whack-a-Mole</strong></p>

	  	<p>In this tag-based game, players have a helium-filled balloon tied to their shoe, and a short foam pool noodle which they use as a striking implement.  Their objective is to guard the balloon tied to their shoe, while smacking other players’ balloons so that they hit the ground.  If a player’s balloon touches the ground, that player has to dig their way out using their choice of push-ups, sit-ups, bearwalking, or crabwalking.</p>

	  	<p><strong>Hypotenuse Abuse</strong></p>

	  	<p>In this math-learning cooperative game, players race to assemble right triangles using sections of PVC piping, and solve for ‘c’ by applying the Pythagorean theorem.  A great way to teach geometry skills in a physically active way, both in the gymnasium and in the classroom!</p>

	  	<p><strong>Chopsticks Relay</strong></p>

	  	<p>In this team scavenger hunting game, students use chopsticks to retrieve and transport various small objects located throughout the play area.  Players must cooperate and to divide up the list effectively and prevent overlap.  The first team to collect all of the items is the winner.</p>

	  	<p><strong>Dribble Limbo</strong></p>

	  	<p>In this basketball skill development activity, students must limbo while dribbling a basketball.  Challenge is escalated not only by lowering the bar, but by dribbling two balls, or adding passes and trick shots to the limbo requirements.  Simple, effective, and fun!</p>

	  	<p><strong>Godzillaaaa!</strong></p>

	  	<p>In this game, players race to build assigned structures (a city) with foam/cardboard blocks, while one player from each opposing team takes turn controlling an RC car (with a dinosaur attached, of course) to knock them down.  It’s a fast and furious race that’s easy to “build” upon, and students love it!</p>

	  	<p><strong>Tarred and Feathered</strong></p>

	  	<p>In this game, one player hurls feathers high into the air.  Other players scramble to catch as many as they can before they touch the floor.  The player who catches the most is the winner.  For added fun, players try to catch the feathers between fans, paper plates, with nets, or other devices.  Also a fun team game.</p>

	  	<p><strong>Yo-yo Hockey</strong></p>

	  	<p>In this hockey skills team game, players use paper Chinese yo-yo’s to knock balloons into the opponents’ goal territory.  A much safer way to teach hockey skills than with sticks, and students of all ages LOVE learning to use the unusual properties of the Chinese yo-yo.</p>

	  	<p><strong>Hitman Tag</strong></p>

	  	<p>This activity was designed for Muchin Prep High School in Chicago, IL.  Their school is located on the seventh floor of a high rise building, and they lack a gymnasium, so they presented me with a tough challenge: a lesson for a room no bigger than a classroom, with 30-35 students, no equipment, and that applies traditional conditioning exercises like push-ups and sit-ups.  In Hitman Tag, players have a numbered card that describes a conditioning exercise.  The card also gives the number of another player, who is their target.  If a player tags their target, they switch cards, and the tagged player has to perform the exercise on the card.  I’m happy to say that the students responded very positively to this game!</p>

	  	<h4>Anarchum</h4>

	  	<p>Anarchum is another physically active game that is currently in development, but is a significantly larger project.  I have personally invested roughly 2500 hours (more than a year of full time work) in its development, in addition to the labor that others have contributed to the project, and anticipate that another year’s work will be required to complete a playable version.  Anarchum is a web-based commercial sport—players all over the world can access the rules for free, and for a small subscription, they may use our web service to track their player records.  The game also integrates a number of academic concepts, including sign language, science, music and history, into one fun, fitness-enhancing experience that allows players to experience a lifetime of growth.  You may learn more and see partial progress on our webpage at <a href="http://www.anarchum.com">www.anarchum.com</a>.</p>
	  </div>
	  
	  <div class="row">
	    <div class="large-10 large-offset-1 columns">
	  	  <p><strong>Lead Project Manager, Anarchum</strong> 2012-Present</p>
	  	    <ul>
	  	      <li>Designed the Anarchum game system to promote physical activity for special populations</li>
	  		  <li>As lead designer, created numerous primary and supplemental instructional manuals</li>
	  		  <li>Applied principles of learning and motivation to promote non-traditional athleticism</li>
	  		  <li>Developed a commercial model for sustainable support of sport</li>
	  		  <li>Recruited and managed additional team members to expand project scope</li>
	        </ul>
	    </div>
	  </div>

	  <div class="row">
	  	<h4>Program Observations</h4>

	  	<p>Over the last many years, I have had the opportunity to observe countless educational programs in the Midwest.  Recently I toured two exemplary programs in Chicago, IL.</p>

	  	<p><strong><a href="http://muchincollegeprep.noblenetwork.org/1">Muchin Prep High School</a></strong></p>

	  	<p>Muchin Prep is a member of the NOBLE Charter School system, a prominent charter network in the Chicago area.  As a charter school, they boast an excellent academic record and have mandatory fitness tests as a component to the graduate requirement.  While these requirements are not especially rigorous, the network has never had a student fail to pass the test.  Muchin Prep is a special campus because it is located on the seventh floor of a high rise and has very limited fitness facilities: an exercise equipment room roughly the size of a typical classroom, and a dance studio of roughly the same size.  Students regularly do pushups and crunches in the hallway.  I had the opportunity to tour this school recently and present a demo lesson of game-based physical activity (Hitman Tag, which is described in the Creative Games section).  The students were very receptive to my lesson, even offering me a generous applause afterwards.</p>

	  	<p><strong><a href="http://www.namastecharterschool.org/">Namaste Charter School</a></strong></p>

	  	<p>Namaste Elementary is charter school in the Chicago area that has a special emphasis on physical activity and wellness (including a conflict resolution curriculum).  As one of the older charter schools in the Chicago area, they have an excellent track record of preparing students for success.  I recently spent an entire day touring the school, observing regular classes, physical education, and recess.  I witnessed many excellent practices from their physical educators, including the application of the skill development approach to motor learning, and academic learning within the gymnasium.  I also came to understand some of their challenges in my observations and in speaking with the teachers and students, and offered some parting recommendations which I hope will serve them well as they continue moving forward in their exemplary youth education efforts.</p>

	  	<h4>Volunteering and Service</h4>

	  	<p><strong>Boffer Fighting and Medieval Roleplay</strong> (Spring 2012, experimental physical activity course)</p>

	  	<p>I volunteered to teach this physical activity course as an unpaid service to Westminster College.  My hope was that it would open students’ eyes to new possibilities in physical fitness, and generate excitement for students who never before thought of themselves as enjoying physical activity.  In that regard, the class was a tremendous success, with overwhelmingly positive feedback from the students.  Many of the students even made trips out to join a local group of players in their games on the weekends.</p>

	  	<p><strong>Callaway County Special Services</strong></p>

	  	<p>As a key component of the Adapted P.E. course at Westminster College, we partnered with Callaway County Special Services to partner each of our students with one of their clients: each an adult with a profound cognitive function deficit.  While this experience allowed students to gain first-hand practice with the many aspects of the IEP process (assessment, goal development, planning, implementation, and documentation), it was also an opportunity for the clients to receive sorely needed one-on-one attention in a physical activity and motor skill development context.  CCSS was very appreciative of our students’ contributions.</p>

	  	<p><strong>Online Wellness Advisement in Support Fora</strong></p>

	  	<p>From 2007-2012, I have provided wellness advisement and support covering a range of health-related issues to anonymous users of online support fora.  In these settings, users share their struggles ranging from weight loss, to depression, to substance abuse cessation, to relationship conflict.  Though suggesting local professional help is always the first step, many people in these settings turn to online fora as a last resort where other resources have failed or been unavailable.  At times I provide free private counseling to individuals who need additional help, and at other times I am active as a member of the online community’s support group.  </p>

	  	<p><strong>Walk for MS</strong> (2011)</p>

	  	<p>I participated in the 2011 Walk for MS, a charity fundraising event to support people who struggle with multiple sclerosis.  It was a cold, but successful day!</p>

	  	<h4>Organizations</h4>

	  	<p>Member (2011-2012): International Positive Psychology Association</p>
	  	<p>Member (2005-2008): Student Tennessee Education Association, Austin Peay State University</p>
	  	<p>Founder (2003): Community's Organization for Wellness, Austin Peay State University</p>

	  	<h4>Conferences</h4>

	  	<p>2010 The Impact of Physical Activity on Academic Achievement, KU</p>
	  	<p>2010 Annual Obesity Conference, KU </p>

	  </div>	
  </div>
  <%= render 'layouts/sidebar' %>
</div>