<header>
  <div class="row">
    <h1>Curriculum Vitae</h1>
  </div>
</header>

<div class="row">
  <div class="large-9 push-3 columns">
	<div class="row">

    </div>	
  </div>
  <%= render 'layouts/sidebar' %>
</div>