<div class="large-3 pull-9 columns">
  <div class="section-container accordion" data-section="accordion">
  <section>
    <p class="title" data-section-title><%= link_to "Personal Statement", page_path("personal_statement") %></p>
  </section>
  <section>
    <p class="title" data-section-title><a href="#">Health Education and Promotion</a></p>
    <div class="content" data-section-content>
      <p>Content of section.</p>
    </div>
  </section>
  <section>
    <p class="title" data-section-title><a href="#">Outside Area of Expertise</a></p>
    <div class="content" data-section-content>
      <p>Content of section.</p>
    </div>
  </section>
  <section>
    <p class="title" data-section-title><a href="#">Research and Writing</a></p>
    <div class="content" data-section-content>
      <p>Content of section.</p>
    </div>
  </section>
  <section>
    <p class="title" data-section-title><a href="#">Teaching</a></p>
    <div class="content" data-section-content>
      <p>Content of section.</p>
    </div>
  </section>
  <section>
    <p class="title" data-section-title><a href="#">Professional Service and Participation</a></p>
    <div class="content" data-section-content>
      <p>Content of section.</p>
    </div>
  </section>
  <section>
    <p class="title" data-section-title><a href="#">Curriculum Vitae</a></p>
    <div class="content" data-section-content>
      <p>Content of section.</p>
    </div>
  </section>
  <section>
    <p class="title" data-section-title><a href="#">Brief Dissertation Proposal</a></p>
    <div class="content" data-section-content>
      <p>Content of section.</p>
    </div>
  </section>
  </div>
</div>